/* root */
:root{
    font-size: 62.5% ;
    --textColor: #424242;
    --buttonColor: rgb(26, 26, 26, 1);
    --headPara-color: #000000;
}
/* body */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Open Sans", sans-serif;;
}
body{
    background: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100vh;
}



/* header */
header{
    font-size: 1.7rem;
    width: 100%;
    height: 100px;
    background: rgba(248, 244, 244, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
}

header img{
    width: 30vw;
    height: 43vh;
}
nav ul{
    display: flex;
    gap: 3rem;
}
ul li{
    list-style: none;
}
li a{
    color: var(--buttonColor);
    text-decoration: none; 
}
li a:hover{
    text-decoration: underline;
}
header button{
    font-size: 1.7rem;
    width: 147px;
    height: 42.5px;
border-radius: 50px ;
border: 1.5px solid var(--buttonColor);
font-weight: 500;
color: var(--buttonColor);
transition: background-color 2s;
}

header button:hover{
    background-color: rgb(255, 69, 0, 0.6);
    border: none;
}
/* section */
section img{
    width: 100%;
    height: 25rem;
 

}

/* main */
main{
    margin: 2rem 15rem;
}
 main > h1{
    font-size: 2.3rem;
    color: #000000;
    text-align: center;
}
main > p{
    margin-top: 1rem;
    color: var(--textColor);
    line-height: 23px;
    font-size: 1.6rem;
    text-align: justify;
}

.card-viewers{
    display: flex;
    gap: 8rem;
    margin: 4rem 0 ;
    justify-content: center;
  flex-wrap: wrap;
}
.card-viewer{
    width: 20rem;
    height: 13rem;
    border-radius: 1rem;
    text-align: center;
    background: rgb(239, 235, 235, 0.4);

}

.card-viewer h2{
    color: #EB664E;
    margin-top: 3.5rem;
    font-size: 2rem;
}
.card-viewer p{
    margin-top: 1.5rem;
}

.card-viewer > p a {
    font-weight: 500;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--buttonColor);
}
h3 {
    font-size: 2rem;
    margin: 8rem 0;
    text-align: center;
}

.card-actor{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    margin-top: -5rem;
}
.artist{
    text-align: center;
    justify-self: center;
    border: 1px solid var(--textColor) ;
   width: 30rem;
   
}

.artist img{
    width: 100%;
    height: 65%;
}
.artist figcaption{
    margin-top: 2rem;
    font-size: 1.8rem;
}

.artist button{
    border: 1px solid var(--buttonColor);
    border-radius: 3rem;
    width: 90%;
    height: 3.2rem;
    margin-top: 1.5rem;
    color: var(--buttonColor);
    background-color: white;
  transition: background-color 2s;
  margin-bottom: 1rem;
} 
.artist  button:hover{
    background-color: rgb(255, 69, 0, 0.6);
    border: none;
}
.card-actor{
    margin-bottom: 11rem;
}

/* footer */



footer {
    background: rgba(196, 206, 218, 1);
    color: var(--textColor);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 23px;
   
  }
  footer .footer{
    line-height: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
  #logo > img{
 margin-top: 1rem;
 width: 100px;
 height: 70px;
}
.footer-nav{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
 
footer a{
    text-decoration: none;
    color: var(--textColor);
}

footer .footer-media{
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14rem;
}
.footer-media{
    border-top: 1px solid var(--textColor);
}
.link-media ul{
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
}
.link-media p{
    color: rgb(159, 158, 158);
position: relative;
bottom: 1.3rem;
} 

.para > p{
    font-size: 1.6rem;
} 
