/* root */
:root{
    font-size: 62.5% ; 
    --textColor: #424242;
    --buttonColor: rgb(26, 26, 26, 1);
    --headPara-color: #000000;
} 

       /*body {
            margin: 0;
            background-color: rgb(251, 250, 250);
            font-family: "Open Sans", sans-serif;
        }
*/
              /*header*/
       
/*
        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 15px;
            background: rgba(248, 244, 244, 0.5);
            font-weight: 500;
            font-size: 17px;
        }

        #nav-logo {
            width: 100px;
            height: 70px;
           
        }
        

        .nav-ul {
            display: flex;
            gap: 40px;
        }

        nav ul li {
            list-style-type: none;
           
        }
        li a{
            color: rgb(26, 26, 26, 1);
            text-decoration: none;
        }
        li a:hover{
            text-decoration: underline;
        }
        .nav-btn {
            padding: 5px 20px;
            border-radius: 15px;
            font-size: 17px;
            width: 150px;
            height: 42.5px;
            border-radius: 50px ;
            border: 1.5px solid rgb(26, 26, 26, 1);
            font-weight: 500;
            color: rgb(26, 26, 26, 1);
            transition: background-color 2s;
        }
        .nav-btn:hover{
            background-color: rgb(255, 69, 0, 0.6);
            border: none;
        } 
      */
      
/* body */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Open Sans", sans-serif;;
}
body{
    background: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100vh;
}



/* header */
header{
    font-size: 1.7rem;
    width: 100%;
    height: 100px;
    background: rgba(248, 244, 244, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
}


.logo{
    margin-top: 1rem;
    width: 100px;
    height: 70px;
   }
nav ul{
    display: flex;
    gap: 3rem;
}
ul li{
    list-style: none;
}
li a{
    color: var(--buttonColor);
    text-decoration: none; 
}
li a:hover{
    text-decoration: underline;
}
header button{
    font-size: 1.7rem;
    width: 147px;
    height: 42.5px;
border-radius: 50px ;
border: 1.5px solid var(--buttonColor);
font-weight: 500;
color: var(--buttonColor);
transition: background-color 2s;
}

header button:hover{
    background-color: rgb(255, 69, 0, 0.6);
    border: none;
}
/* section */
section img{
    width: 100%;
    height: 25rem;
 margin-bottom: 4rem;

}
        /*section img {
            width: 100%;
            height: 36vh;
        }
*/
        .heading {
            text-align: center;
            font-size: 30px;
        }

         /*main*/

        section.main-search {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin: auto;
            border: 1px solid black;
            border-radius: 7px;
            align-items: center;
            font-size: 16px;
            font-weight: 600;
            margin-top: 4rem ;
            margin-bottom: 4rem;
        }

        article {
            display: grid;
            padding: 30px 15px;
        }

        .dropdown-lists {
            border: none;
            padding: 0;
        }

        .dropdown-btn {
            background-color: rgb(241, 214, 179);
            border-radius: 5px;
            border: none;
            padding: 5px 15px;
            font-size: 20px;
            font-weight: 300;
        }

        section.main-profile {
            margin: auto;
            width: 80%;
            justify-content: center;
            gap: 8rem 14rem;
            display: grid;
            grid-template-columns: auto auto auto ;
            margin-top: 4rem;
            margin-bottom: 9rem;
        }

        figure img {
            width: 350px;
            height: 320px;
            margin-bottom: 15px;
        }

        figure {
            border: 1px solid black;
        }

        figcaption {
            text-align: center;
            margin: 10px;
            font-weight: bold;
            font-size: 20px;
        }

        figure button {
            width: 100%;
            box-sizing: border-box;
            margin: 0px;
            padding: 7px 15px;
            border-radius: 20px;
            background-color: white;
            border: 1px solid black;
            transition: 2s;
            margin-bottom: 5px;
            margin-top: 15px;
        }
        figure button:hover{
            border: none;
             background-color: rgb(255, 69, 0, 0.6);
             cursor: pointer;
             
        }

        /*footer*/

    footer {
    background: rgba(196, 206, 218, 1);
    color: var(--textColor);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 23px;
   
  }
  footer .footer{
    line-height: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
  #logo > img{
 margin-top: 1rem;
 width: 100px;
 height: 70px;
}
.footer-nav{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
 
footer a{
    text-decoration: none;
    color: var(--textColor);
}

footer .footer-media{
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 14rem;
    border-top: 1px solid var(--textColor);
}

.link-media ul{
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
    bottom: 1rem;
    transition: all 2s;
}
.link-media ul:hover{
    transform: scale(1.1) ;
}
.para > p{
    font-size: 1.6rem;
} 
